/* .paint{
    position: absolute;
    top: 20px;
    left: 70px;
    background-color: white;
    height: 60px;
    width: 1200px;
    border-radius: 20px;
}
.header{
    background-color: #fff1c8;
    height: 600px;
    width: 100%;
    position: relative;
} */